@model  IEnumerable<Invoice.Core.Entity.ProductModel>
@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product List</h4>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                           
                                            <td>
                                                <a href="@Url.Action("EditProduct", "Admin", new {productId = item.Id})" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteProduct", "Admin", new {productId = item.Id})" onclick="return confirm('Are you sure you want to Remove this product?')" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>





@section scripts{
    
}

