
@{
    ViewData["Title"] = "AddSale";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style type="text/css">
    .bg_1 {
        background-color: green;
    }

    .bg_2 {
        background-color: gray;
    }


    .error_msg {
        color: #f00;
        display: none;
    }

    .table {
        /* width: 100%; */
        /* max-width: 100%; */
        margin-bottom: 0px;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title">
                        
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Name">Customer &nbsp  </label>
                                        <select id="Customer" class="form-control" onchange="blankme(this.id)">
                                            <option value="">Select Customer</option>
                                        </select>
                                        <small id="error_Customer" class="form-text error_msg">Select customer from list</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Code"> Code  &nbsp</label>
                                        @Html.TextBox("Code", null, new { @class = "form-control", @placeholder = "Enter Sale No", onkeyup = "blankme(this.id)" })
                                        <small id="error_Code" class="form-text error_msg col-md-offset-2 "> Sale Code is Required</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Date"> Date  &nbsp</label>
                                        @Html.TextBox("Date", null, new { @class = "form-control mydatepicker", @placeholder = "Select Sale Date ", onchange = "blankme(this.id)" })
                                        <small id="error_Date" class="form-text error_msg col-md-offset-2 ">Sale Date is Required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /> <br />
                        <div class="col-md-12">
                            <label class="col-md-2">Search Product</label>
                            <div class="input-group input-group-default col-md-8">
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="ti-search"></i></button></span>
                                <input type="text" placeholder="Search Product" name="Search" id="Search" class="form-control">
                            </div>

                            <br />

                            <table class="table table-hover col-md-12" id="detailsTable">
                                <thead>
                                    <tr>
                                       
                                        <th style="width:280px">Name</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th style="width:20px"></th>

                                    </tr>
                                </thead>
                                <tbody id="itemDetails"></tbody>
                                <tfoot>
                                    <tr>
                                        
                                        <td></td>
                                        <td></td>
                                        <td> <strong> Total:</strong> </td>
                                        <td> <strong id="SubTotal">  </strong> </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>

                            <small id="error_SubTotal" class="form-text error_msg">Atleast add one item</small>
                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-5">

                                    <div class="form-group">
                                        <label for="Date"> Payment Method : </label>
                                        @Html.DropDownList("Payment", new List<SelectListItem>
                                        {
                                            new SelectListItem() {Text = "Cash", Value="Cash"},
                                            new SelectListItem() {Text = "Check", Value="Check"},
                                        }, "Select Payment", new { @class = "form-control", onchange = "blankme(this.id)" })
                                        <small id="error_Payment" class="form-text error_msg">Select Payment Method</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="Status"> Status : </label>
                                        @Html.DropDownList("Status", new List<SelectListItem>
                                        {
                                            new SelectListItem() {Text = "Due", Value="Due"},
                                            new SelectListItem() {Text = "Paid", Value="Paid"},
                                        }, "Select Status", new { @class = "form-control", onchange = "blankme(this.id)" })
                                        <small id="error_Status" class="form-text error_msg">Select Sale Status</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="Notes"> Notes: </label>
                                        @Html.TextArea("Notes", new { @class = "form-control", @rows = "5", @placeholder = "Enter Notes" })
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-3"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Discount"> Discount : </label>
                                        @Html.TextBox("Discount", null, new { @class = "form-control", @Value = 0, @type = "number", @placeholder = "Discount Amount ", onchange = "DiscountAmount()" })
                                        <small id="error_Discount" class="form-text error_msg">Discount can't be empty</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="GrandTotal"> Grand Total : </label>
                                        <input type="text" id="GrandTotal" class="form-control" readonly />
                                        <small id="error_GrandTotal" class="form-text error_msg">Total is empty</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <label> </label>
                                <input id="BtnSave" class="btn btn-success col-md-3 pull-right" type="submit" value="Save Sale" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel-body -->
            </div>
            <!-- panel -->
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

    </script>
}

